Repository argoproj/argo-cd, pull requests merged in 2024-09, with the labels that each got.

#17684 docs: update keycloak.md
  docs/operator-manual/user-management/keycloak.md
Labels: type:docs

#19785 docs: Fix local guide for building and testing docs
  Makefile
  docs/developer-guide/docs-site.md
  docs/operator-manual/user-management/identity-center.md
  docs/operator-manual/user-management/okta.md
  docs/operator-manual/user-management/onelogin.md
  mkdocs.yml
Labels: documentation, type:docs

#19786 docs: Add links to index page
  docs/developer-guide/index.md
Labels: documentation, type:docs

#19801 docs: Fix broken link from overview, previous merge conflict
  docs/developer-guide/index.md
Labels: documentation, type:docs

#15286 feat(health): resource customization for RabbitMQCluster
  resource_customizations/rabbitmq.com/RabbitmqCluster/health.lua
  resource_customizations/rabbitmq.com/RabbitmqCluster/health_test.yaml
  resource_customizations/rabbitmq.com/RabbitmqCluster/testdata/degraded_badconfig.yaml
  resource_customizations/rabbitmq.com/RabbitmqCluster/testdata/degraded_cluster_unknown.yaml
  resource_customizations/rabbitmq.com/RabbitmqCluster/testdata/degraded_replicas_unknown.yaml
  resource_customizations/rabbitmq.com/RabbitmqCluster/testdata/healthy.yaml
  resource_customizations/rabbitmq.com/RabbitmqCluster/testdata/progressing_cluster_unavailable.yaml
  resource_customizations/rabbitmq.com/RabbitmqCluster/testdata/progressing_no_status.yaml
  resource_customizations/rabbitmq.com/RabbitmqCluster/testdata/progressing_pods_not_ready.yaml
Labels: ready-for-review

#20057 docs: add `project` to repo creds examples
  docs/operator-manual/argocd-repositories.yaml
  docs/operator-manual/declarative-setup.md
Labels: documentation

#20065 docs: corrected --roleARN to --role-arn as per updated CLI option
  docs/operator-manual/declarative-setup.md
Labels: documentation

#20044 fix(ui): add optional check to avoid undefined reference in project page
  ui/src/app/settings/components/project-details/project-details.tsx
Labels: ready-for-review
